# Copia este archivo como .env y rellena los valores reales
# NUNCA subas .env al repositorio

GOOGLE_API_KEY=
OPENROUTER_API_KEY=

QDRANT_HOST=localhost
QDRANT_PORT_REST=6333
QDRANT_PORT_GRPC=6334
QDRANT_COLLECTION=trafico_valencia
