GOOGLE_API_KEY=
OPENROUTER_API_KEY=

# si se activa o no el script cada 3 minutos para actualizar embeddings
SCHEDULER_ENABLED=true
# para probar openrouter con el LLM
FORCE_OPENROUTER=false

QDRANT_HOST=localhost
QDRANT_PORT_REST=6333
QDRANT_PORT_GRPC=6334
QDRANT_COLLECTION=trafico_valencia
